body {
  font-size: 16px;
  color: #063C75;
  background-color: #B3C0E2;
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background-color: #063C75;
  border-radius: 0;
  border: 0;
  padding: 10px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #F4E9DF;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #A4D0FF;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
  color: #063C75;
}

.navbar-header button.navbar-toggle {
  clear: right;
  border: 1px solid #A4D0FF;
}

.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
  color: #fff;
}

.content-tile { 
  width: 100%;
  margin:  20px auto 15px;
  padding: 0 20px 20px 20px;  
  background-color: #A4D0FF; 
}
.content-tile h3 {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}


